* {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

/* Menu Bar */
header {
    background-color: rgba(40, 255, 201, 0.301);
    color: white;
    padding: 10px;
    text-align: center;
    margin: 0;
    font-size: 30px
}
nav{
    width: 100%;
    margin: 0px;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.heading{
    font-family: 'Raleway', sans-serif;
    width: auto;
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-size: 40;
    padding: 0 50px;
}
#menu li{
    list-style: none;
    display:inline-block;
    margin: 0 40px;
    position: relative;
}
#menu li a{
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    
}
#menu li a:hover{
    color: #56FF0E !important;
}
#menu li a::after{
    content: '';
    height: 3px;
    width: 0%;
    background: #56FF0E;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
#menu li a:hover::after{
    width: 100%
}
.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin:5px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}

/* Pages' Background */
#Home, #Impact, #Solutions, #Sources {
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0,0.5), rgba(23, 12, 87,0.5)), url(imgs/Background2.png);
    background-position: top;
}

/* Home Page Big Title */
.sign{
    margin: 8%;
    text-align: center;
}
.sign a{
    color: #0ed145;
}
.title{
    font-family:'Dosis';
    font-size: 150;
    text-shadow: 0 0 20px #0ed145, 0 0 30px #0ed145, 0 0 40px #0ed145, 0 0 50px #0ed145, 0 0 60px #0ed145, 0 0 70px #0ed145, 0 0 80px #0ed145;
    letter-spacing: 10px;
    text-align: center;
    color:#fff;
    font-weight: bold;
}
.line1{
    border-left: 20px solid #fff;
    height: 1200px;
    position:absolute;
    margin: 140 -54;
    box-shadow: 0 0 20px #0ed145, 0 0 30px #0ed145, 0 0 40px #0ed145, 0 0 50px #0ed145, 0 0 60px #0ed145, 0 0 70px #0ed145, 0 0 80px #0ed145;;
}
.cover{
    font-family:'Dosis';
    font-size: 150;
    position:absolute;
    margin: 0 -80;
    color: rgb(255, 255, 255);
    text-shadow: none;
    font-weight: bold;
}
.circle{
    color: #fff;
    width: 50px;
    height: 50px;
    border-radius: 60%;
    position:absolute;
    margin: 1340 -90;
    box-shadow: 0 0 20px #0ed145, 0 0 30px #0ed145, 0 0 40px #0ed145, 0 0 50px #0ed145, 0 0 60px #0ed145, 0 0 70px #0ed145, 0 0 80px #0ed145;;
    border: solid 20px;
    display: inline-block;
}


/* Infor Sections Texts */
.info{
    padding: 100 30;
    text-align:start;
    width: 60vw;
}
.content{
    padding: 10 5;
    width: 90vw;
}
.content h1{
    text-shadow: 0 0 10px #0ed145, 0 0 10px #0ed145, 0 0 10px #0ed145, 0 0 10px #0ed145, 0 0 10px #0ed145, 0 0 10px #0ed145, 0 0 10px #0ed145;
    color:#fff;
}
h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 60px;
    color: rgb(255, 255, 255);
}
section {
    margin-bottom: 20px;
    margin-top: 65px;
    margin-left: 60px;
    text-align: left;
}
section a{
    color: rgb(140, 255, 125);
}
#topics {
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    color: rgb(255, 255, 255);
    line-height: 2;
    display: block;
}
#para{
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    color: white;
    line-height: 1.8;
}

/* Links, Images, Tables */
#morelinks:hover{
    text-shadow: 0 0 20px #0ed145, 0 0 30px #0ed145, 0 0 40px #0ed145, 0 0 50px #0ed145, 0 0 60px #0ed145, 0 0 70px #0ed145, 0 0 80px #0ed145;
}

#i1{
    float:right;
    box-shadow: 10px 10px 10px #41e670;
}
#i2{
    float: left;
    box-shadow: -10px -10px 10px #41e670;
    margin-right:10px;
}
#i3{
    float:right;
    box-shadow: 10px 10px 10px #41e670;
    width: 300px;
    margin-bottom: 15px;
    margin-top: -20px;
}
#i4{
    float: right;
    width: 300px;
    box-shadow: 10px 10px 10px #41e670;
}
table{
    color:white;
    width: 100%;
    /* float:right; */
    margin-left: 5vw;
    margin-top: 130px;
    box-shadow: 0 0 10px #0ed145, 0 0 10px #0ed145, 0 0 10px #0ed145, 0 0 10px #0ed145, 0 0 10px #0ed145, 0 0 10px #0ed145, 0 0 10px #0ed145;
}
table, th, td{
    border: 2px solid #ffffff;
    border-collapse: collapse;   
}
th, td{
    padding:15px;
    font-size: 20px;
}
#reference{
    line-height: 50px;
    margin-top: -30px;
    font-size: 20px;
}
#reference li:hover{
    text-shadow: 0 0 20px #0ed145, 0 0 30px #0ed145, 0 0 40px #0ed145, 0 0 50px #0ed145, 0 0 60px #0ed145, 0 0 70px #0ed145, 0 0 80px #0ed145;
}

footer{
    background-color: rgba(40, 255, 201, 0.15);
    width: 100%;
    height: 150px;
    /* margin-top: 100; */
    bottom:0;
    color: white;
    text-align: center;
    font-size: 30px;
    position:relative;
}

/* Mobile Adaptations */
@media (max-width: 1000px) {
    /* Big Title */
    .line1{
        height: 40px;
    }
    .circle{
        display: none;
    }
    span.title{
        font-size: 150;
    }

    /* Pages' sizes */
    #Home, #Impact, #Solutions{
        height: 2000px;
    }
    #Sources{
        width: 125%;
    }

    /* Menu Bar */
    h1.heading{
        display: none;
    }
    nav{
        justify-content: center;
    }

    /* Infor sections */
    section.info{
        width: 80vw;
    }
    img#i4{
        width: 300px;
    }
    img#i3{
        width: 300px;
    }
}    
